# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*.local
pruebas.http


# Logs
logs/
*.log
.env
# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/
tmp/
temp/

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Coverage
coverage/

# Misc
*.tgz
!.github